<h2 class="title-deco">Violet's Journey</h2>
<p>Suiver le parcours de Violet, une jeune fille rentrant de sa journée à l'école et prenant une route plus longue et plus étrange que prévue comparé au chemin emprunté le matin même.</p>
<p>Ce voyage ne manquera pas de la surprendre et de lui permettre de se dépasser jusqu'à ce qu'elle puisse enfin retourner chez elle.</p>
<hr class="my-4">
<p>Il s'agit d'un projet de jeu de vidéo ayant débuté lors de ma dernière année de Master, le premier niveau fut réalisé au cours de la semaine de cours où on y apprenait l'utilisation de Unity.</p>
<p>J'ai souhaité poursuivre le développement du jeu une fois la semaine passée car le projet me plaisit et je souhaitais aller plus loin avec les ressources que j'avais à disposition.</p>
<p>J'ai reprit et poursuivit la création du jeu vidéo en direct sur Twitch afin de pouvoir partager les étapes de la création et les problèmes rencontrés à d'autres passionés.</p>
<div class="mt-4 text-center">
    <a class="btn btn-outline-light" href="#">Accéder à la page</a>
</div>